[submodule "outputs/tools/techniek-opsboard"]
	path = outputs/tools/techniek-opsboard
	url = https://github.com/Kenja1970/Techniek-OpsBoard-Pro.git
[submodule "tools/Techniek-OpsBoard"]
	path = tools/Techniek-OpsBoard
	url = https://github.com/Kenja1970/Techniek-OpsBoard-Pro.git
[submodule "outputs/tools/techniek-twinsim-studio"]
	path = outputs/tools/techniek-twinsim-studio
	url = https://github.com/Kenja1970/Techniek-TwinSimStudio.git
