[submodule "outputs/tools/techniek-opsboard"]
	path = outputs/tools/techniek-opsboard
	url = https://github.com/Kenja1970/Techniek-OpsBoard-Pro-V2.git
[submodule "tools/Techniek-PrecisionFlow"]
	path = tools/Techniek-PrecisionFlow
	url = https://github.com/Kenja1970/Techniek-PrecisionFlow.git
